.conteiner{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,123,125,1) 0%, rgba(32,102,170,1) 44%, rgba(7,26,106,1) 100%);
}